<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello {{ username }}

{% if operation_buy %}
{{ user_currency_1 }} in {{ user_currency_2 }}: {{operation_buy}} for buy, {{operation_sale}} for sale
{% endif %}

{% if firstuser %}
User: {{ firstuser }} |
{% endif %}
<br>
<br>
<form action="/login" method="post">
  User_name:<br>
  <input type="text" name="username"><br>
  User_password:<br>
  <input type="text" name="password"><br>
  User_email:<br>
  <input type="text" name="email">
<br>
<br>
  <input type="submit" value="Submit">
</form>
</body>
</html>

