<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if firstuser %}
First_user: {{ firstuser }} |
{% endif %}
<br>
<br>
<form action="/login" method="post">
  <label for="username">User_name:</label><br>
  <select id="username" name="username">
    <option value="DanikaVeresha">DanikaVeresha</option>
    <option value="dariaV">dariaV</option>
  </select><br>

  <label for="password">Password:</label><br>
  <select id="password" name="password">
    <option value="daria@Anatoliyivna">daria@Anatoliyivna</option>
    <option value="d2469v">d2469v</option>
  </select><br>

  <label for="email">Email:</label><br>
  <select id="email" name="email">
    <option value="Anatolievna@gmail.com">Anatolievna@gmail.com</option>
    <option value="veresha@gmail.com">veresha@gmail.com</option>
  </select><br>
<br>
<br>
  <input type="submit" value="Submit">
</form>
</body>
</html>

